<div class="main row">
  <div class="col-1" style="text-align: center"><input type="checkbox"></div>
  <div class="col-3"><img class="avatar" [src]="'https://zoomyourevent.blob.core.windows.net/map/objectsPhoto/' + menuObject.imageUrl" alt=""></div>
  <div class="col-5 pl-3" >
    <h5>{{menuObject.name}}</h5>
    <p>{{menuObject.description}}</p>
    <div class="row">
      <img src="../../../assets/image/star.svg">
      <img src="../../../assets/image/star.svg">
      <img src="../../../assets/image/star.svg">
      <img src="../../../assets/image/star.svg">
      <img src="../../../assets/image/star.svg">
      <div class="ml-3">1 отзыв</div>
    </div>
  </div>
  <div class="col-1 price mb-auto mt-auto">От 150 руб</div>
  <div class="col-2 mb-auto mt-auto" style="text-align: center"><button class="ml-auto mr-auto" style="min-height: 40px">18 предложений</button></div>

</div>
