<div class="topnav pb-3">
  <div class="logo">
    <img class="logo-image ml-3" src="../../../assets/image/logo.svg">
    <div>DayX</div>
  </div>
  <nav class="navbar navbar-expand ">
    <ul class="navbar-nav mr-auto ml-3" routerLinkActive="active">
      <li class="nav-item align-self-center">
        <a href="/src" class="nav-link" routerLink="">Каталог</a>
      </li>
      <li class="nav-item align-self-center" >
        <a href="/src" class="nav-link" routerLink="">Новости</a>
      </li>
      <li class="nav-item align-self-center" >
        <a href="/src" class="nav-link" routerLink="">Услуги</a>
      </li>
      <li class="nav-item align-self-center">
        <a href="/src" class="nav-link" routerLink="">О компании</a>
      </li>
      <li class="nav-item align-self-center">
        <a href="/src" class="nav-link" routerLink="">Контакты</a>
      </li>
    </ul>
  </nav>

  <div class="btn-group right" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-light"><img class="icon" src="../../../assets/image/facebook.svg"></button>
    <button type="button" class="btn btn-outline-light"><img class="icon" src="../../../assets/image/vkcom.svg"></button>
    <button type="button" class="btn btn-outline-light"><a href="https://www.instagram.com/dayx.pro/"><img class="icon" src="../../../assets/image/instagram.svg"></a></button>
  </div>

</div>
