<div class="bg">
  <app-header></app-header>
  <app-second-header></app-second-header>
  <div class="white-bg mt-3 mb-3">
    <h3>Корзина</h3>
    <div><small>1 товар на сумму: 150,00 р.</small></div>
    <div class="text-smaller">Ваш населенный пункт: Минск</div>
    <div class="text-muted"><small>Наличие доставки и ее стоимость зависят от выбранного населенного пункта</small></div>
    <div class="frame mt-4 pt-4 pb-4">
      <div class="row m-0 pb-4">
        <div class="col-3 d-flex justify-content-center align-self-center"><img src="assets/image/img.png" alt=""></div>
        <div class="col-4  align-self-center">
          <div>Пагода London 3x3</div>
          <div class=""><small>для отдыха, квадратная форма, цвет: белый/зеленый, 3x3 м</small></div>
          <div class="text-muted"><small>Производитель:. Гарантия 12 месяцев.</small></div>
        </div>
        <div class="col-2 d-flex justify-content-center align-self-center"></div>
        <div class="col-3 align-self-center text-right">
          <div>150.00p</div>
          <div><small>В наличии на складе</small></div>
        </div>
      </div>
      <div class="line"></div>
      <div class="row m-0 pt-4 pb-4">
        <div class="col-1 text-muted d-flex justify-content-center align-self-center text-smaller">Доставка:</div>
        <div class="col-6 d-flex justify-content-center align-self-centerd-flex justify-content-center align-self-center text-smaller">ближайшая по адресу — сегодня с 17:01 до 19:00, бесплатно</div>
        <div class="col d-flex justify-content-center align-self-center text-smaller">1 товар на сумму:</div>
        <div class="col d-flex justify-content-end align-self-center">150.00р</div>
      </div>
      <div class="text-right pr-3">
        <button class="btn align-self-center mr-o submit-btn text-white font-weight-light text-smaller ">Перейти к оформлению</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
