<nav class="navbar navbar-expand ">
  <ul class="navbar-nav mr-auto ml-4" routerLinkActive="active">
    <li class="nav-item">
      <a href="/src" class="nav-link" routerLink="">Каталог</a>
    </li>
    <li class="nav-item" >
      <a href="/src" class="nav-link" routerLink="">Новости</a>
    </li>
    <li class="nav-item" >
      <a href="/src" class="nav-link" routerLink="">Услуги</a>
    </li>
    <li class="nav-item">
      <a href="/src" class="nav-link" routerLink="">О компании</a>
    </li>
    <li class="nav-item">
      <a href="/src" class="nav-link" routerLink="">Контакты</a>
    </li>
  </ul>
</nav>
