<div class="bg">
  <div class="table-responsive">
    <table>
      <tr>
        <td class="cell" (click)="openCatalogPage(1)">
          <img src="../../../assets/image/typeTable/pagoda.svg">
          <div>Пагоды</div>
        </td>
        <td class="cell" (click)="openCatalogPage(2)">
          <img src="../../../assets/image/typeTable/classicTent.svg">
          <div>Классические шатры</div>
        </td>
        <td class="cell" (click)="openCatalogPage(32)">
          <img src="../../../assets/image/typeTable/archedTent.svg">
          <div>Арочные шатры  </div>
        </td>
        <td class="cell" (click)="openCatalogPage(39)">
          <img src="../../../assets/image/typeTable/expotent.svg">
          <div>Экспотенты  </div>
        </td>
        <td class="cell" (click)="openCatalogPage(3)">
          <img src="../../../assets/image/typeTable/foodtrack.svg">
          <div>Организация питания    </div>
        </td>
        <td class="cell" (click)="openCatalogPage(5)">
          <img src="../../../assets/image/typeTable/checkpoint.svg">
          <div>Пункты пропуска    </div>
        </td>
        <td class="cell" (click)="openCatalogPage(6)">
          <img src="../../../assets/image/typeTable/info.svg">
          <div>Инфостойки    </div>
        </td>
        <td class="cell" (click)="openCatalogPage(7)">
          <img src="../../../assets/image/typeTable/wc.svg">
          <div>Туалеты      </div>
        </td>
        <td class="cell" (click)="openCatalogPage(8)">
          <img src="../../../assets/image/typeTable/garbage.svg">
          <div>Уборка территории</div>
        </td>
        <td class="cell" (click)="openCatalogPage(9)">
          <img src="../../../assets/image/typeTable/security.svg">
          <div>Обеспечение информации</div>
        </td>
        <td class="cell" (click)="openCatalogPage(11)">
          <img src="../../../assets/image/typeTable/generator.svg">
          <div>Свет, звук и электроника</div>
        </td>
      </tr>
      <tr>
        <td class="cell" (click)="openCatalogPage(13)">
          <img src="../../../assets/image/typeTable/floor.svg">
          <div>Полы и ступеньки</div>
        </td>
        <td class="cell" (click)="openCatalogPage(14)">
          <img src="../../../assets/image/typeTable/furniture.svg">
          <div>Мебель</div>
        </td>
        <td class="cell"(click)="openCatalogPage(33)">
          <img src="../../../assets/image/typeTable/sportEquipment.svg">
          <div>Спортивный инвентарь</div>
        </td>
        <td class="cell" (click)="openCatalogPage(34)">
          <img src="../../../assets/image/typeTable/safety.svg">
          <div>Безопасность</div>
        </td>
        <td class="cell" >
          <img src="../../../assets/image/typeTable/carpet.svg">
          <div>Ковровая дорожка</div>
        </td>
        <td class="cell">
          <img src="../../../assets/image/typeTable/beltFence.svg">
          <div>Ленточные ограждения</div>
        </td>
        <td class="cell">
          <img src="../../../assets/image/typeTable/transportFence.svg">
          <div>Транспортные ограждения</div>
        </td>
        <td class="cell">
          <img src="../../../assets/image/typeTable/carBarrier.svg">
          <div>Автомобильные барьеры</div>
        </td>
        <td class="cell">
          <img src="../../../assets/image/typeTable/pedestrianBarrier.svg">
          <div>Пешеходные барьеры</div>
        </td>
        <td class="cell">
          <img src="../../../assets/image/typeTable/concreteBarrier.svg">
          <div>Бетонные барьеры</div>
        </td>
        <td class="cell">
          <img src="../../../assets/image/typeTable/waterBarrier.svg">
          <div>Заполненные водой барьеры</div>
        </td>
      </tr>
    </table>
  </div>
</div>

