<div class="bg">
  <app-header></app-header>
  <app-second-header></app-second-header>
  <div class="white-bg mt-3 mb-3">
    <h3>Каталог</h3>
    <app-types></app-types>
    <div class="brands">
      <div><img src="../../../assets/image/ironman.png"></div>
      <div><img src="../../../assets/image/harley-davidson.png"></div>
      <div><img src="../../../assets/image/ironstar.png"></div>
      <div><img src="../../../assets/image/ibu.png"></div>
      <div><img src="../../../assets/image/minsk2019.png"></div>
      <div><img src="../../../assets/image/fis.png"></div>
    </div>
    <div class="photos">
      <div class="row">
        <div class="col-6 col-md-3 p-0 text-on-pic" (click)="openCatalogPage(1)"><img src="../../../assets/image/photos/img_7.png" alt=""><div>Пагода</div></div>
        <div class="col-6 col-md-3 p-0 text-on-pic" (click)="openCatalogPage(39)"><img src="../../../assets/image/photos/img_5.png" alt=""><div>Экспотент</div></div>
        <div class="col-6 col-md-3 p-0 text-on-pic" (click)="openCatalogPage(11)"><img src="../../../assets/image/photos/img_3.png" alt=""><div>Генератор</div></div>
        <div class="col-6 col-md-3 p-0 text-on-pic" (click)="openCatalogPage(3)"><img src="../../../assets/image/photos/img_1.png" alt=""><div>Фудтрак</div></div>
      </div>
      <div class="row">
        <div class="col-6 col-md-3 p-0 text-on-pic" (click)="openCatalogPage(11)"><img src="../../../assets/image/photos/img_6.png" alt=""><div>Экран</div></div>
        <div class="col-6 col-md-3 p-0 text-on-pic" (click)="openCatalogPage(32)"><img src="../../../assets/image/photos/img_4.png" alt=""><div>Арочный шатер</div></div>
        <div class="col-6 col-md-3 p-0 text-on-pic" (click)="openCatalogPage(2)"><img src="../../../assets/image/photos/img_2.png" alt=""><div>Классический шатер</div></div>
        <div class="col-6 col-md-3 p-0 text-on-pic"><img src="../../../assets/image/photos/img.png" alt=""><div>Ковровая дорожка</div></div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

